/* Layout.blade.php -----------------------------------------*/
body {
    max-height: 100vh;
    width: 100%;
}

.allBG {
    background-image: url("/img/bgimage.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}
.inputSearchBars {
    min-width: 330px;
}

a:link {
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
}

.active {
    color: #F69400;
}

.btn:hover {
    background-color: #F69400;
}


@media (max-width: 1100px) {
    .dsplyswitch {
        display: none;
    }
}
footer{
    position: relative;
    bottom: 0;
    text-align: center;
    align-self: center;
    left: 50%;
    transform: translate(-50%, 0);
}
.postjobcard {
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-box-shadow: ;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: 7px 7px 0 0;
}
/* Layout.blade.php -----------------------------------------*/

/* Welcome.blade.php -----------------------------------------*/
.capsule {
    display: inline-flex;
    background-color: rgb(255, 102, 0);
    color: black;
    margin: 1px;
    padding: 0 2px 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 7px;
    /* width: auto; */
    /* min-width: 20%; */
    /* max-width: 25%; */
    text-align: center;
}

.small {
    padding: 0;
    margin: 2px;
}

.jobpanel {
    /* border: 1px solid gray;  */
    border-radius: 7px;
    padding: 17px;
}

.employerlogo{
    width: 100%; 
    max-width: 500px;
    max-height:190px;
}
.tableoverflow-y {
    position: relative;
    height: calc(100vh - 170px);
    bottom: 10px;
    overflow-y: scroll;
}

.hrsmall {
    margin: 3px 0 3px 0;
    padding: 0 0 0 0;
}

.jobtableoverflow-y {
    position: relative;
    height:100vh;
    bottom: 10px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 9px;
    background: #00000025;
}

::-webkit-scrollbar-track {
    background: #0000003f;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c7bcbc6e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(78, 78, 78, 0.753);
}

/* littlejobmenu */
.jobminimenu {
    appearance: button;
    text-decoration: none;
    float: right;
    padding: 0 5px 0 0;
    border-radius: 5px;
    color: gray;
}
.dropdown-item {
    padding: 2px;
    font-weight: 10;
    border: 0;
    border-radius: 2px;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg)
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgba(255, 166, 0, 0.315);
}

.dropdown-menu {
    --bs-dropdown-min-width: 4rem;
}
/* littlejobmenu */
/* Welcome.blade.php -----------------------------------------*/

@media(max-width: 800px) {
    .hideOn800px {
        display: none;
    }
}

.cursorpointer {
    cursor: pointer;
}
.xframe{
    width: 100%;
    height: 100vh;
}
.manualresize {
    resize: both;
    overflow: auto;
}